/* reset */
*:focus{
    outline: 4px solid lime;
    font-size: xx-large;
}
a:hover{
    outline: 4px solid lime;
    font-size: xx-large;
}

/* Header */
#intro{
    font-size: larger;
    
}

.skip a{
    position: absolute;
    /* left: 10000px; */
    top: auto;
    width: 0px;
    height: 0px;
    overflow: hidden;
    font-size: 2em;
    background: white;
    font-weight: bold;
    display: block;
    /* padding: 10px; */
    
}

.skip a:focus{
    position: static;
    width: auto;
    height: auto;
}

/* Header */
.navbar a{
    float: left;
    text-align: center;
}

.topnav{
    background-color: peachpuff;
    
    
}

.topnav li{
    text-decoration: none;
    list-style-type: none;
}
.topnav li a{
    text-decoration: none;
}